<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice</title>
    <meta name="author" content="동네코딩">
    <meta name="description" content="맛집지도 서비스">
    <meta name="keywords" content="동네코딩, 맛집지도, 유튜버맛집, 맛집유튜버">
    <link rel="stylesheet" href="/css/master.css">
</head>

<body>
    <nav>
        <div class="inner">
            <div class="nav-container">
                <h1 class="nav-title">맛집지도</h1>
                <button class="nav-contact">Contact</button>
            </div>
        </div>
    </nav>

    <main>
        <section id="category">
            <div class="inner">
                <div class="category-container">
                    <h2 class="category-title">
                        맛집지도 카테고리를 선택해보세요
                    </h2>
                    <div class="category-list">
                        <!-- button.category-item*8 -->
                        <button class="category-item">한식</button>
                        <button class="category-item">중식</button>
                        <button class="category-item">일식</button>
                        <button class="category-item">양식</button>
                        <button class="category-item">분식</button>
                        <button class="category-item">구이</button>
                        <button class="category-item">회/초밥</button>
                        <button class="category-item">기타</button>
                    </div>
                </div>
            </div>
        </section>
        <div id="map" class="inner"></div>
    </main>

    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=df703983d071fd365086df732dbf6701&libraries=services"></script>
    <script src="/js/index.js" defer></script>
</body>

</html>